
@media(min-width:768px) {
  .navbar-default {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    padding: 15px 0;
    border:none;
    color:white;
  }
  .navbar-default.affix {
    padding: 0;
  }
}

*{
    color:white;
    text-align:center;
}
p{
    font-size:1.5em;
    text-align:justify;
    padding-bottom:50px;
}
h1{
    padding-bottom:40px;
}
body{
	background-image:url(images/bg.jpg);
    background-size:cover;
    background-position-x:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

}
.jumbotron{
    padding-top:200px;
    padding-bottom:200px;
    background:transparent;
    text-align:center;
    color:white;

}
.container-fluid{
    padding-top:50px;
    padding-bottom:50px;
}
#theme{
    background-color:rgb(243, 156, 18);/*rgb(165, 105, 189)*/
}
#topics{
    background-color:rgb(93, 173, 226)
}
#about{
    background-color:rgb(175, 122, 197);
}
#contact{
	background-color:rgba(45, 15, 179, 0.9);
}
#footer{
	background-color:black;
}
td{
    color:black;
}