@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
body {
      position: relative; 
      background-color:rgb(247, 249, 249)
  }

  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
  }
.container-fluid{
    padding-top:10px;
}
  
  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }
  
.footer{
    background-color:rgb(44, 62, 80);
    color:white;
}
.footer td{
    color:white;
}
#team{
    text-align:center;
    padding:4px 4px 4px 4px;
}
.footer a{
    text-decoration:none;
    color:white;
    ho
}
.footer a:hover{
    color:white;
    text-decoration:none;
}
p{
    text-align:justify;
}
#patron p{
	text-align:center;
}
