body {
    background:url("bg1.jpg") no-repeat center ;
    background-size:cover;
    min-height:600px;
    color:white;
}
#header{
    text-align:center;
    color:#A6ACAF;
    text-transform:uppercase;
    border:solid;
    height:20%;
}
#title{
    font-size:12vh;
    margin-top:20%;
    font-weight:900;
}
.jumbo{
    background-color:transparent;
    text-transform:uppercase;
    text-align:center;
    text-shadow: 2px 2px #ff0000;
    font-size:70px;
}
#learnmore{
    height:auto;
    width:50vh;
    text-align:center;
    position:relative;
    border:solid;
    margin-left:38%;
    background-color:#F0B27A;
    border-radius:40px;
    text-decoration:none;
}
#learnmore h2{
    padding-bottom:4%;
}
#learnmore a{
    padding-bottom:4%;
    text-decoration:none;
    color:white;
}
#learnmore:hover{
    background-color:#2ECC71;
    box-shadow: 10px 10px 5px black;

}
