ul#countdown {
  list-style: none;
  margin: 50px 0;
  padding: 0;
  display: block;
  text-align: center;
}

ul#countdown li { display: inline-block; }

ul#countdown li span {
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
}

ul#countdown li.seperator {
  font-size: 80px;
  line-height: 70px;
  vertical-align: top;
}

ul#countdown li p {
  color: #a7abb1;
  font-size: 25px;
}

#jquery-script-menu {
position: fixed;
height: 90px;
width: 100%;
top: 0;
left: 0;
border-top: 5px solid #316594;
background: #fff;
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
z-index: 999999;
padding: 10px 0;
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
}

.jquery-script-center {
width: 960px;
margin: 0 auto;
}
.jquery-script-center ul {
width: 212px;
float:left;
line-height:45px;
margin:0;
padding:0;
list-style:none;
}
.jquery-script-center a {
	text-decoration:none;
}
.jquery-script-ads {
width: 728px;
height:90px;
float:right;
}
.jquery-script-clear {
clear:both;
height:0;
}
#ribbon{
    transform:rotate(-40deg);
    text-align:right;
    text-align:start;
    color:aqua;
    position:absolute;
    top:0px;
    left:-2px;
    height:auto;
    width:20%;
    text-align:center;


}