body {
      position: relative; 
      background-color:rgb(247, 249, 249)
  }
  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
  }

  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }
  
.footer{
    background-color:rgb(44, 62, 80);
    color:white;
}
.footer td{
    color:white;
}